

/*------------------------------------*\
    #MODULES
\*------------------------------------*/


// HEIGHT DEFAULT VAR
$dh : rem-calc(40);


// BIO FOR A PERSON WITH 3:6 GRID
.person-bio {
    .h3,
    .h6,
    article p,
    .bio-link {
        padding-left: 0;

        @include breakpoint(mv) { padding-left: rem-calc(175); }
    }

    .h6 { display: block; }

    p {
        margin-bottom: rem-calc(12);

        @include breakpoint(mv) { margin-bottom: rem-calc(26); }

    }

    .grid-3 {
        margin-top: rem-calc(5);
        max-width: rem-calc(150);
        position: relative;

        .sw {
            left: 0;
            opacity: 1;
            position: absolute;
            transition: opacity 0.25s;

            &:hover { opacity: 0; }
        }
    }

    .bio-link {
        margin: 0 auto;
        max-width: 37.5rem;
        padding-top: 0;
        width: 100%;

        @include breakpoint(lv) {
            max-width: 11.25rem;
            padding-left: 0;
            padding-top: rem-calc(129);
        }
    }

    figure.grid-3.l {
        float: none;

        @include breakpoint(mv) { float: left; }
    }
}


// FRIENDS + CONTRIBUTE

.friends {
    @extend %cf;

    .grid-3 {
        margin-bottom: rem-calc(20);
        text-align: center;

        @include breakpoint(mv) { margin-bottom: rem-calc(40); }

        @include breakpoint(lv) { margin-bottom: rem-calc(60); }

        figure {
            margin-bottom: rem-calc(16);
            min-height: rem-calc(150);

            &.contribute-topic-image-wrap { min-height: rem-calc(90); }

            .contribute-topic-image {
                opacity: .4;
                width:rem-calc(80);
            }
        }
    }

    .grid-svg {
        color: rgba(0, 0, 0, .3);
        margin-bottom: rem-calc(20);
    }

}


// ASIDE NAVIGATION FOR DOCS

.api-nav {
    background-color: $gray-6;
    border-radius: rem-calc(12);
    margin-left: rem-calc(220);
    padding: rem-calc(45 30 35 30);
    position: absolute;
    text-align: right;
    top: rem-calc(347);
    width: rem-calc(200);

    ul { margin-bottom: rem-calc(35); }

}


// HOT FIX FOR PRISM
code {
    background-color: transparent !important;
    border: 0 none !important;
    margin-top: rem-calc(25) !important;
    white-space: normal !important;
}


// ARTICLE
ul,
ol { margin-bottom: rem-calc(26); }

article ol { list-style-type: decimal; }

ul {
    list-style: inherit;
    padding-left: rem-calc(26);
}

ol { padding-left: rem-calc(30); }

img {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

aside img { border: 0; }

// JUMP MARK
.jump-mark {
    background-clip: content-box;
    background-image: none !important;
    margin-top: rem-calc(-50);
    padding-top: rem-calc(50);

    &:hover { background-image: none; }
}


.friends,
.contribute-aside-icon {

    svg {
        display: block;
        height: rem-calc(80);
        margin: 0 auto;
        width: rem-calc(80);
    }

    use { transform: scale(2.5); }

}

.contribute-aside-icon {

    @include breakpoint(lv) { text-align: right; }

    svg {
        display: inline-block;
        margin: 0;
    }
}

#slack-integration {
  width: 100%;
  text-align: center;
  padding-bottom: rem-calc(25);

  input {
    border: 1px solid;
    font-size: 1em;
    height: 2.2rem;
    width: 60%;
  }

  #mail-for-slack {
    border-color: #C1A7BC;
    color: #404040;
    padding: rem-calc(12) rem-calc(8);
    &:focus, &:hover{
      outline: none;
      border-color: #520644;
    }
  }

  #submit-slack {
    border-color: #520644;
    background-color: #520644;
    color: #fff;
    margin-top: rem-calc(7);
    padding: rem-calc(8) rem-calc(3);
    font-weight: bold;
    cursor: pointer;
    &:focus, &:hover{
      outline: none;
      background-color: #C1A7BC;
      border-color: #C1A7BC;
    }
  }

  .message {
    font-weight: 400;
    line-height: 2;
  }
}
