<section class="api-nav">
    <ul>
        <li><strong>Introduction</strong></li>
        <li><a href="">Installation</a></li>
        <li><a href="">How to get started 1</a></li>
        <li><a href="">How to get started 2</a></li>
        <li><a href="">How to get started 3</a></li>
    </ul>
    <ul>
        <li><strong>hoodie/</strong></li>
        <li><a href="">account.js</a></li>
        <li><a href="">connection.js</a></li>
        <li><a href="">id.js</a></li>
        <li><a href="">open.js</a></li>
        <li><a href="">remote.js</a></li>
        <li><a href="">request.js</a></li>
        <li><a href="">store.js</a></li>
        <li><a href="">task.js</a></li>
        <li><a href="">hoodie.js</a></li>
    </ul>
    <ul>
        <li><strong>lib/</strong></li>
        <li><a href="">events.js</a></li>
        <li><a href="">index.js</a></li>
    </ul>
    <ul>
        <li><strong>lib/error/</strong></li>
        <li><a href="">error.js</a></li>
        <li><a href="">index.js</a></li>
        <li><a href="">index.js</a></li>
        <li><a href="">object_id.js</a></li>
        <li><a href="">object_type.js</a></li>
    </ul>
    <ul>
        <li><strong>lib/store/</strong></li>
        <li><a href="">api.js</a></li>
        <li><a href="">index.js</a></li>
        <li><a href="">remote.js</a></li>
    </ul>
</section>
