<footer>
<div class="footer">
        <section class="cb sitemap">
            <ul class="sitemap-list l grid-3">
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/">Hood.ie</a>
                </li>
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/intro">Intro</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/intro">What is Hoodie?</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/intro#get-started">Get started</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/intro#showcases">Apps &amp; Showcases</a>
                </li>
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="http://plugins.hood.ie" target="_blank">Plugins</a>
                </li>
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/get-help">Get help</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="http://faq.hood.ie" target="_blank">FAQ</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/bug">Report a Bug</a>
                </li>
                <!-- <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="http://docs.hood.ie" target="_blank">Docs</a>
                </li> -->
            </ul>
            <ul class="sitemap-list l grid-3">
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/contribute">Contribute</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/contribute#development">Development</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/contribute#design">Design</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/contribute#writing">Writing</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/contribute#feedback">Feedback</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/contribute#talks">Give Talks</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/contribute#money">Give Money</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/contribute#hire-us">Hire us</a>
                </li>
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/community">Community</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/community#contributors">Contributors</a>
                </li>
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/code-of-conduct">Code of Conduct</a>
                </li>
            </ul>
            <ul class="sitemap-list l grid-3">
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/about">About</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/animals">Animals</a>
                </li>
                <!--<li class="sitemap-item smaller"> <a class="sitemap-link" href="http://club.hood.ie">Club Hoodie</a></li>-->
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/initiatives">Initiatives</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/friends">Friends</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/events">Events</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/merchandise">Merchandise</a>
                </li>
                <!-- <li class="sitemap-item smaller"><a class="sitemap-link" href="/zoo">Zoo</a></li> -->
                <li class="sitemap-item sitemap-item-bold">
                    <a class="sitemap-link" href="/contact">Contact</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="http://github.com/hoodiehq" target="_blank">Hoodie on GitHub</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/blog">The Hoodie Blog</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="http://twitter.com/hoodiehq" target="_blank">On Twitter</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="http://meetthehoodies.tumblr.com" target="_blank">Our Tumblr</a>
                </li>
                <li class="sitemap-item smaller">
                    <a class="sitemap-link" href="/impressum">Impressum</a>
                </li>
            </ul>
        </section>
        <section class="cb footer-licensing">
            <small>© 2012-2015 <a class="footer-licensing__a" href="https://github.com/hoodiehq" target="_blank">the Hoodie Community</a> and other <a class="footer-licensing__a" href="/community#contributors">contributors</a>. Hoodie is licensed under the <a class="footer-licensing__a" href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License 2.0</a>.<br />All pictures, photos and illustrations are owned by the Hoodie Open Source Project and licensed under <a class="footer-licensing__a" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.en" target="_blank">CC BY-NC-ND 4.0</a>.</small>
        </section>
    </div>
</footer>
<script src="http://hoodiehq.github.io/hoodie-css/src/js/prod/hoodie.min.js"></script>
<script src="http://hoodiehq.github.io/hoodie-css/src/js/jquery.sheetrock.min.js"></script>
<script src="http://hoodiehq.github.io/hoodie-css/src/js/events.js"></script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '515d9805108d7b3064000032');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
})();
</script>
</body>
</html>
