<footer>
    <div id="footer">
        <section class="cb sitemap">
            <ul class="sitemap-item l">
                <li><a href="">Bacon ipsum</a></li>
                <li><a href="">dolor sit</a></li>
                <li><a href="">amet shoulder</a></li>
                <li><a href="">ball tip </a></li>
                <li><a href="">pork shankle</a></li>
                <li><a href="">kielbasa</a></li>
            </ul>
            <ul class="sitemap-item l">
                <li><a href="">kielbasa</a></li>
                <li><a href="">amet shoulder</a></li>
                <li><a href="">capicola </a></li>
                <li><a href="">pork shankle</a></li>
                <li><a href="">capicola </a></li>
                <li><a href="">amet shoulder</a></li>
            </ul>
            <ul class="sitemap-item l">
                <li><a href="">capicola </a></li>
                <li><a href="">amet shoulder</a></li>
                <li><a href="">kielbasa</a></li>
                <li><a href="">amet shoulder</a></li>
            </ul>
        </section>
        <br class="clear" />
    </div>
</footer>