<!--
 /$$                                 /$$ /$$
| $$                                | $$|__/
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$ /$$  /$$$$$$
| $$__  $$ /$$__  $$ /$$__  $$ /$$__  $$| $$ /$$__  $$
| $$  \ $$| $$  \ $$| $$  \ $$| $$  | $$| $$| $$$$$$$$
| $$  | $$| $$  | $$| $$  | $$| $$  | $$| $$| $$_____/
| $$  | $$|  $$$$$$/|  $$$$$$/|  $$$$$$$| $$|  $$$$$$$
|__/  |__/ \______/  \______/  \_______/|__/ \_______/

We <3 the people who are involved in this project,
and we’d love to have you on board: http://hood.ie/contribute
-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="author" content=""> -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="http://hoodiehq.github.io/hoodie-css/src/css/prod/hoodie.min.pref.css">
    <link rel="stylesheet" href="http://hoodiehq.github.io/hoodie-css/src/css/skins/flat/lilac.css">
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,500|Fira+Mono' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="http://hoodiehq.github.io/hoodie-css/src/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://hoodiehq.github.io/hoodie-css/src/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="http://hoodiehq.github.io/hoodie-css/src/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="http://hoodiehq.github.io/hoodie-css/src/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="http://hoodiehq.github.io/hoodie-css/src/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://hoodiehq.github.io/hoodie-css/src/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://hoodiehq.github.io/hoodie-css/src/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="http://hoodiehq.github.io/hoodie-css/src/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="http://hoodiehq.github.io/hoodie-css/src/favicons/browserconfig.xml">
    <title>hood.ie</title>
    <script>
    (function(){
        function addFont() {
            var style = document.createElement('style');
            style.rel = 'stylesheet';
            document.head.appendChild(style);
            style.textContent = localStorage.firaSansWeb;
        }

        try {
            if (localStorage.firaSansWeb) {
                // The font is in localStorage, we can load it directly
                addFont();
            } else {
                // We have to first load the font file asynchronously
                var request = new XMLHttpRequest();
                request.open('GET', 'http://hoodiehq.github.io/hoodie-css/src/css/fonts.css', true);

                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        // We save the file in localStorage
                        localStorage.firaSansWeb = request.responseText;

                        // ... and load the font
                        addFont();
                    }
                };

                request.send();
            }
        } catch(ex) {
            // maybe load the font synchronously for woff-capable browsers
            // to avoid blinking on every request when localStorage is not available
        }
    }());
    </script>
</head>
