<header>
    <section id="nav">
        <a href="/" id="logo"><img src="/dist/img/logo.svg" width="135" alt=""></a>
        <nav class="main-nav" aria-role="navigation">
            <a href="/intro">Intro</a>
            <a href="/contribute">Contribute</a>
            <a href="/get-help" class="active">Get help</a>
            <a href="/about">about</a>
            <a href="/community">community</a>
            <!-- <a href="/zoo">zoo</a> -->
            <a href="/contact">contact</a>
        </nav>
        <ul id="meta-nav">
            <li><a href="/blog">Blog</a></li>
            <li><a href="http://docs.hood.ie" target="_blank">Docs</a></li>
            <!-- <li><a href="#">try</a></li> -->
            <li><a href="http://faq.hood.ie" target="_blank">FAQ</a></li>
        </ul>
    </section>
    <section class="hid">
        <ul class="sub-nav">
            <li><a href="http://docs.hood.ie">Documentation</a></li>
            <li><a href="http://faq.hood.ie">FAQ</a></li>
            <li><a href="/bug">Report a Bug</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </section>
</header>
