<header>
    <section id="nav">
        <div id="logo"><img src="/dist/img/logo.svg" width="135" alt=""></div>
        <nav id="main-nav" aria-role="navigation">
            <a href="/">Intro</a>
            <a href="/contribute/" class="active">Contribute</a>
            <a href="/get-help/">Get help</a>
            <a href="/about/">about</a>
            <a href="/community/">community</a>
            <a href="/zoo/">zoo</a>
            <a href="/contact/">contact</a>
        </nav>
        <ul id="meta-nav">
            <li><a href="#">Blog</a></li>
            <li><a href="/docs/">Docs</a></li>
            <li><a href="#">try</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </section>
    <section class="hid">
        <ul id="sub-nav">
            <li><a href="#">Team</a></li>
            <li><a href="#">wear hoodie</a></li>
            <li><a href="#">give money</a></li>
            <li><a href="#" class="active">hire us</a></li>
            <li><a href="#">contributors</a></li>
            <li><a href="#">friends</a></li>
            <li><a href="#">initiatives</a></li>
            <li><a href="#">tools</a></li>
        </ul>
    </section>
</header>
